.avatar {
  filter: grayscale(1);
  border: var(--rs-unit-x1) solid var(--rs-color-background-page);
  margin-right: calc(var(--rs-unit-x3) * -1);
  transition: filter 0.2s ease-in-out;
}

.avatar:hover {
  filter: grayscale(0);
}

.avatarWrapper {
  border-radius: 50%;
}
